---
## metadata for Audit benchmark
benchmark_version: '3.1.1'

# Set if genuine RHEL (subscription manager check) not for derivatives e.g. CentOS
is_redhat_os: {% if ansible_distribution == "RedHat" %}true{% else %}false{% endif %}

# timeout for each command to run where set - default = 10seconds/10000ms
timeout_ms: {{ audit_cmd_timeout }}

# Taken from LE rhel7-cis
notauto: {{ notauto }}
section1: {{ section1 }}
section2: {{ section2 }}
section3: {{ section3 }}
section4: {{ section4 }}
section5: {{ section5 }}
section6: {{ section6 }}

selinux_disable: {{ selinux_disable }}
selinux_state: {{ selinux_state }}


level1: true
level2: true
# to enable rules that may have IO impact on a system e.g. full filesystem scans or CPU heavy
run_heavy_tests: true

legacy_boot: {{ legacy_boot }}

# These variables correspond with the CIS rule IDs or paragraph numbers defined in
# the CIS benchmark documents.
# PLEASE NOTE: These work in coordination with the section # group variables and tags.
# You must enable an entire section in order for the variables below to take effect.
# Section 1 rules


rule_1_1_1_1 : {{ rule_1_1_1_1  }}
rule_1_1_1_2 : {{ rule_1_1_1_2  }}
rule_1_1_1_3 : {{ rule_1_1_1_3  }}
rule_1_1_1_4 : {{ rule_1_1_1_4  }}
rule_1_1_2 : {{ rule_1_1_2  }}
rule_1_1_3 : {{ rule_1_1_3  }}
rule_1_1_4 : {{ rule_1_1_4  }}
rule_1_1_5 : {{ rule_1_1_5  }}
rule_1_1_6 : {{ rule_1_1_6  }}
rule_1_1_7 : {{ rule_1_1_7  }}
rule_1_1_8 : {{ rule_1_1_8  }}
rule_1_1_9 : {{ rule_1_1_9  }}
rule_1_1_10 : {{ rule_1_1_10  }}
rule_1_1_11 : {{ rule_1_1_11  }}
rule_1_1_12 : {{ rule_1_1_12  }}
rule_1_1_13 : {{ rule_1_1_13  }}
rule_1_1_14 : {{ rule_1_1_14  }}
rule_1_1_15 : {{ rule_1_1_15  }}
rule_1_1_16 : {{ rule_1_1_16  }}
rule_1_1_17 : {{ rule_1_1_17  }}
rule_1_1_18 : {{ rule_1_1_18  }}
rule_1_1_19 : {{ rule_1_1_19  }}
rule_1_1_20 : {{ rule_1_1_20  }}
rule_1_1_21 : {{ rule_1_1_21  }}
rule_1_1_22 : {{ rule_1_1_22  }}
rule_1_1_23 : {{ rule_1_1_23  }}
rule_1_2_1 : {{ rule_1_2_1  }}
rule_1_2_2 : {{ rule_1_2_2  }}
rule_1_2_3 : {{ rule_1_2_3  }}
rule_1_2_4 : {{ rule_1_2_4  }}
rule_1_2_5 : {{ rule_1_2_5  }}
rule_1_3_1 : {{ rule_1_3_1  }}
rule_1_3_2 : {{ rule_1_3_2  }}
rule_1_3_3 : {{ rule_1_3_3  }}
rule_1_4_1 : {{ rule_1_4_1  }}
rule_1_4_2 : {{ rule_1_4_2  }}
rule_1_5_1 : {{ rule_1_5_1  }}
rule_1_5_2 : {{ rule_1_5_2  }}
rule_1_5_3 : {{ rule_1_5_3  }}
rule_1_6_1 : {{ rule_1_6_1  }}
rule_1_6_2 : {{ rule_1_6_2  }}
rule_1_7_1_1 : {{ rule_1_7_1_1  }}
rule_1_7_1_2 : {{ rule_1_7_1_2  }}
rule_1_7_1_3 : {{ rule_1_7_1_3  }}
rule_1_7_1_4 : {{ rule_1_7_1_4  }}
rule_1_7_1_5 : {{ rule_1_7_1_5  }}
rule_1_7_1_6 : {{ rule_1_7_1_6  }}
rule_1_7_1_7 : {{ rule_1_7_1_7  }}
rule_1_8_1_1 : {{ rule_1_8_1_1  }}
rule_1_8_1_2 : {{ rule_1_8_1_2  }}
rule_1_8_1_3 : {{ rule_1_8_1_3  }}
rule_1_8_1_4 : {{ rule_1_8_1_4  }}
rule_1_8_1_5 : {{ rule_1_8_1_5  }}
rule_1_8_1_6 : {{ rule_1_8_1_6  }}
rule_1_8_2 : {{ rule_1_8_2  }}
rule_1_9 : {{ rule_1_9  }}
rule_1_10: {{ rule_1_10 }}

# section 2 rules
rule_2_1_1: {{ rule_2_1_1 }}
rule_2_2_1_1: {{ rule_2_2_1_1 }}
rule_2_2_1_2: {{ rule_2_2_1_2 }}
rule_2_2_2: {{ rule_2_2_2 }}
rule_2_2_3: {{ rule_2_2_3 }}
rule_2_2_4: {{ rule_2_2_4 }}
rule_2_2_5: {{ rule_2_2_5 }}
rule_2_2_6: {{ rule_2_2_6 }}
rule_2_2_7: {{ rule_2_2_7 }}
rule_2_2_8: {{ rule_2_2_8 }}
rule_2_2_9: {{ rule_2_2_9 }}
rule_2_2_10: {{ rule_2_2_10 }}
rule_2_2_11: {{ rule_2_2_11 }}
rule_2_2_12: {{ rule_2_2_12 }}
rule_2_2_13: {{ rule_2_2_13 }}
rule_2_2_14: {{ rule_2_2_14 }}
rule_2_2_15: {{ rule_2_2_15 }}
rule_2_2_16: {{ rule_2_2_16 }}
rule_2_2_17: {{ rule_2_2_17 }}
rule_2_2_18: {{ rule_2_2_18 }}
rule_2_3_1: {{ rule_2_3_1 }}
rule_2_3_2: {{ rule_2_3_2 }}
rule_2_3_3: {{ rule_2_3_3 }}

# Section 3 rules
rule_3_1_1: {{ rule_3_1_1 }}
rule_3_1_2: {{ rule_3_1_2 }}
rule_3_2_1: {{ rule_3_2_1 }}
rule_3_2_2: {{ rule_3_2_2 }}
rule_3_2_3: {{ rule_3_2_3 }}
rule_3_2_4: {{ rule_3_2_4 }}
rule_3_2_5: {{ rule_3_2_5 }}
rule_3_2_6: {{ rule_3_2_6 }}
rule_3_2_7: {{ rule_3_2_7 }}
rule_3_2_8: {{ rule_3_2_8 }}
rule_3_2_9: {{ rule_3_2_9 }}
rule_3_3_1: {{ rule_3_3_1 }}
rule_3_3_2: {{ rule_3_3_2 }}
rule_3_3_3: {{ rule_3_3_3 }}
rule_3_3_4: {{ rule_3_3_4 }}
rule_3_4_1_1: {{ rule_3_4_1_1 }}
rule_3_4_2_1: {{ rule_3_4_2_1 }}
rule_3_4_2_2: {{ rule_3_4_2_2 }}
rule_3_4_2_3: {{ rule_3_4_2_3 }}
rule_3_4_2_4: {{ rule_3_4_2_4 }}
rule_3_4_2_5: {{ rule_3_4_2_5 }}
rule_3_4_2_6: {{ rule_3_4_2_6 }}
rule_3_4_3_1: {{ rule_3_4_3_1 }}
rule_3_4_3_2: {{ rule_3_4_3_2 }}
rule_3_4_3_3: {{ rule_3_4_3_3 }}
rule_3_4_3_4: {{ rule_3_4_3_4 }}
rule_3_4_3_5: {{ rule_3_4_3_5 }}
rule_3_4_3_6: {{ rule_3_4_3_6 }}
rule_3_4_3_7: {{ rule_3_4_3_7 }}
rule_3_4_3_8: {{ rule_3_4_3_8 }}
rule_3_4_4_1_1: {{ rule_3_4_4_1_1 }}
rule_3_4_4_1_2: {{ rule_3_4_4_1_2 }}
rule_3_4_4_1_3: {{ rule_3_4_4_1_3 }}
rule_3_4_4_1_4: {{ rule_3_4_4_1_4 }}
rule_3_4_4_2_1: {{ rule_3_4_4_2_1 }}
rule_3_4_3_2_2: {{ rule_3_4_3_2_2 }}
rule_3_4_3_2_3: {{ rule_3_4_3_2_3 }}
rule_3_4_3_2_4: {{ rule_3_4_3_2_4 }}
rule_3_5: {{ rule_3_5 }}
rule_3_6: {{ rule_3_6 }}

# Section 4 rules
rule_4_1_1_1: {{ rule_4_1_1_1 }}
rule_4_1_1_2: {{ rule_4_1_1_2 }}
rule_4_1_1_3: {{ rule_4_1_1_3 }}
rule_4_1_1_4: {{ rule_4_1_1_4 }}
rule_4_1_2_1: {{ rule_4_1_2_1 }}
rule_4_1_2_2: {{ rule_4_1_2_2 }}
rule_4_1_2_3: {{ rule_4_1_2_3 }}
rule_4_1_3: {{ rule_4_1_3 }}
rule_4_1_4: {{ rule_4_1_4 }}
rule_4_1_5: {{ rule_4_1_5 }}
rule_4_1_6: {{ rule_4_1_6 }}
rule_4_1_7: {{ rule_4_1_7 }}
rule_4_1_8: {{ rule_4_1_8 }}
rule_4_1_9: {{ rule_4_1_9 }}
rule_4_1_10: {{ rule_4_1_10 }}
rule_4_1_11: {{ rule_4_1_11 }}
rule_4_1_12: {{ rule_4_1_12 }}
rule_4_1_13: {{ rule_4_1_13 }}
rule_4_1_14: {{ rule_4_1_14 }}
rule_4_1_15: {{ rule_4_1_15 }}
rule_4_1_16: {{ rule_4_1_16 }}
rule_4_1_17: {{ rule_4_1_17 }}
rule_4_2_1_1: {{ rule_4_2_1_1 }}
rule_4_2_1_2: {{ rule_4_2_1_2 }}
rule_4_2_1_3: {{ rule_4_2_1_3 }}
rule_4_2_1_4: {{ rule_4_2_1_4 }}
rule_4_2_1_5: {{ rule_4_2_1_5 }}
rule_4_2_1_6: {{ rule_4_2_1_6 }}
rule_4_2_2_1: {{ rule_4_2_2_1 }}
rule_4_2_2_2: {{ rule_4_2_2_2 }}
rule_4_2_2_3: {{ rule_4_2_2_3 }}
rule_4_2_3: {{ rule_4_2_3 }}
rule_4_3: {{ rule_4_3 }}

# Section 5
rule_5_1_1: {{ rule_5_1_1 }}
rule_5_1_2: {{ rule_5_1_2 }}
rule_5_1_3: {{ rule_5_1_3 }}
rule_5_1_4: {{ rule_5_1_4 }}
rule_5_1_5: {{ rule_5_1_5 }}
rule_5_1_6: {{ rule_5_1_6 }}
rule_5_1_7: {{ rule_5_1_7 }}
rule_5_1_8_1: {{ rule_5_1_8_1 }}
rule_5_1_8_2: {{ rule_5_1_8_2 }}
rule_5_2_1: {{ rule_5_2_1 }}
rule_5_2_2: {{ rule_5_2_2 }}
rule_5_2_3: {{ rule_5_2_3 }}
rule_5_2_4: {{ rule_5_2_4 }}
rule_5_2_5: {{ rule_5_2_5 }}
rule_5_2_6: {{ rule_5_2_6 }}
rule_5_2_7: {{ rule_5_2_7 }}
rule_5_2_8: {{ rule_5_2_8 }}
rule_5_2_9: {{ rule_5_2_9 }}
rule_5_2_10: {{ rule_5_2_10 }}
rule_5_2_11: {{ rule_5_2_11 }}
rule_5_2_12: {{ rule_5_2_12 }}
rule_5_2_13: {{ rule_5_2_13 }}
rule_5_2_14: {{ rule_5_2_14 }}
rule_5_2_15: {{ rule_5_2_15 }}
rule_5_2_16: {{ rule_5_2_16 }}
rule_5_2_17: {{ rule_5_2_17 }}
rule_5_2_18: {{ rule_5_2_18 }}
rule_5_2_19: {{ rule_5_2_19 }}
rule_5_2_20: {{ rule_5_2_20 }}
rule_5_3_1/2: {{ rule_5_3_1/2 }}
rule_5_3_3: {{ rule_5_3_3 }}
rule_5_4_1: {{ rule_5_4_1 }}
rule_5_4_2: {{ rule_5_4_2 }}
rule_5_4_3: {{ rule_5_4_3 }}
rule_5_4_4: {{ rule_5_4_4 }}
rule_5_5_1_1: {{ rule_5_5_1_1 }}
rule_5_5_1_2: {{ rule_5_5_1_2 }}
rule_5_5_1_3: {{ rule_5_5_1_3 }}
rule_5_5_1_4: {{ rule_5_5_1_4 }}
rule_5_5_1_5: {{ rule_5_5_1_5 }}
rule_5_5_2: {{ rule_5_5_2 }}
rule_5_5_3: {{ rule_5_5_3 }}
rule_5_5_4: {{ rule_5_5_4 }}
rule_5_5_5: {{ rule_5_5_5 }}
rule_5_6: {{ rule_5_6 }}
rule_5_7: {{ rule_5_7 }}

# Section 6
rule_6_1_1: {{ rule_6_1_1 }}
rule_6_1_2: {{ rule_6_1_2 }}
rule_6_1_3: {{ rule_6_1_3 }}
rule_6_1_4: {{ rule_6_1_4 }}
rule_6_1_5: {{ rule_6_1_5 }}
rule_6_1_6: {{ rule_6_1_6 }}
rule_6_1_7: {{ rule_6_1_7 }}
rule_6_1_8: {{ rule_6_1_8 }}
rule_6_1_9: {{ rule_6_1_9 }}
rule_6_1_10: {{ rule_6_1_10 }}
rule_6_1_11: {{ rule_6_1_11 }}
rule_6_1_12: {{ rule_6_1_12 }}
rule_6_1_13: {{ rule_6_1_13 }}
rule_6_1_14: {{ rule_6_1_14 }}
rule_6_2_1: {{ rule_6_2_1 }}
rule_6_2_2: {{ rule_6_2_2 }}
rule_6_2_3: {{ rule_6_2_3 }}
rule_6_2_4: {{ rule_6_2_4 }}
rule_6_2_5: {{ rule_6_2_5 }}
rule_6_2_6: {{ rule_6_2_6 }}
rule_6_2_7: {{ rule_6_2_7 }}
rule_6_2_8: {{ rule_6_2_8 }}
rule_6_2_9: {{ rule_6_2_9 }}
rule_6_2_10: {{ rule_6_2_10 }}
rule_6_2_11: {{ rule_6_2_11 }}
rule_6_2_12: {{ rule_6_2_12 }}
rule_6_2_13: {{ rule_6_2_13 }}
rule_6_2_14: {{ rule_6_2_14 }}
rule_6_2_15: {{ rule_6_2_15 }}
rule_6_2_16: {{ rule_6_2_16 }}
rule_6_2_17: {{ rule_6_2_17 }}
rule_6_2_18: {{ rule_6_2_18 }}
rule_6_2_19: {{ rule_6_2_19 }}
rule_6_2_20: {{ rule_6_2_20 }}


# Service configuration booleans set true to keep service
avahi_server: {{ avahi_server }}
cups_server: {{ cups_server }}
dhcp_server: {{ dhcp_server }}
ldap_server: {{ ldap_server }}
telnet_server: {{ telnet_server }}
nfs_server: {{ nfs_server }}
rpc_server: {{ rpc_server }}
ntalk_server: {{ ntalk_server }}
rsyncd_server: {{ rsyncd_server }}
tftp_server: {{ tftp_server }}
rsh_server: {{ rsh_server }}
nis_server: {{ nis_server }}
snmp_server: {{ snmp_server }}
squid_server: {{ squid_server }}
smb_server: {{ smb_server }}
dovecot_server: {{ dovecot_server }}
httpd_server: {{ httpd_server }}
vsftpd_server: {{ vsftpd_server }}
named_server: {{ named_server }}
nfs_rpc_server: {{ nfs_rpc_server }}
is_mail_server: {{ is_mail_server }}
bind: {{ bind }}
vsftpd: {{ vsftpd }}
httpd: {{ httpd }}
dovecot: {{ dovecot }}
samba: {{ samba }}
squid: {{ squid }}
net_snmp: {{ net_snmp}}
allow_autofs: {{ allow_autofs }}

crypto_policy: {{ crypto_policy }}

# client services
openldap_clients_required: {{ openldap_clients_required }}
telnet_required: {{ telnet_required }}
talk_required: {{ talk_required }}
rsh_required: {{ rsh_required }}
ypbind_required: {{ ypbind_required }}

# AIDE
config_aide: {{ config_aide }}
# aide setup via - cron, timer
aide_scan: cron

# AIDE cron settings
aide_cron:
  cron_user: {{ aide_cron.cron_user }}
  cron_file: '{{ aide_cron.cron_file }}'
  aide_job: ' {{ aide_cron.aide_job }}'
  aide_minute: '{{ aide_cron.aide_minute }}'
  aide_hour: '{{ aide_cron.aide_hour }}'
  aide_day: '{{ aide_cron.aide_day }}'
  aide_month: '{{ aide_cron.aide_month }}'
  aide_weekday: '{{ aide_cron.aide_weekday }}'

# 1.4.1 Bootloader password
bootloader_file: {{ bootloader_path }}grub.cfg
bootloader_user: {{ bootloader_path }}user.cfg
bootloader_password: {{ bootloader_password_hash }}
set_boot_pass: {{ set_boot_pass }}

# Warning Banner Content (issue, issue.net, motd)
warning_banner: {{ warning_banner }}
# End Banner

# Set to 'true' if X Windows is needed in your environment
xwindows_required: {{ xwindows_required }}

# Whether or not to run tasks related to auditing/patching the desktop environment
gui: {{ gui }}

# xinetd required
xinetd_required: {{ xinetd_required }}

# IPv6 required
ipv6_required: {{ ipv6_required }}

# System network parameters (host only OR host and router)
is_router: {{ is_router }}

# Time Synchronization
time_synchronization: {{ time_synchronization }}

firewall: {{ firewall }}
# firewall: iptables
default_firewall_zone: {{ default_zone }}
firewall_interface:
- ['ens224']
- ['ens192']
firewall_services: {{ firewall_services }}

# firewall: iptables
iptables_boot_config: {{ iptables_boot_config }}
ip6tables_boot_config: {{ ip6tables_boot_config }}

# Section 4
# auditd settings
auditd:
  space_left_action: {{ auditd.space_left_action }}
  action_mail_acct: {{ auditd.action_mail_acct }}
  admin_space_left_action: {{ auditd.admin_space_left_action }}
  max_log_file_action: {{ auditd.max_log_file_action }}
  auditd_backlog_limit: {{ audit_backlog_limit }}

# syslog
{% if syslog == "rsyslog" %}
rsyslog: true
{% endif %}

# Section 5
sshd_limited: false
#Note the following to understand precedence and layout
sshd_access:
- AllowUser
- AllowGroup
- DenyUser
- DenyGroup

ssh_strong_ciphers:  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128- gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
ssh_weak_ciphers:
- 3des-cbc
- aes128-cbc
- aes192-cbc
- aes256-cbc
- arcfour
- arcfour128
- arcfour256
- blowfish-cbc
- cast128-cbc
- rijndael-cbc@lysator.liu.se

ssh_strong_macs:  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2- 512,hmac-sha2-256
ssh_weak_macs:
- hmac-md5
- hmac-md5-96
- hmac-ripemd160
- hmac-sha1
- hmac-sha1-96
- umac-64@openssh.com
- umac-128@openssh.com
- hmac-md5-etm@openssh.com
- hmac-md5-96-etm@openssh.com
- hmac-ripemd160-etm@openssh.com
- hmac-sha1-etm@openssh.com
- hmac-sha1-96-etm@openssh.com
- umac-64-etm@openssh.com
- umac-128-etm@openssh.com

ssh_strong_kex: KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman- group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
ssh_weak_kex:
- diffie-hellman-group1-sha1
- diffie-hellman-group14-sha1
- diffie-hellman-group-exchange-sha1

ssh_aliveinterval: "300"
ssh_countmax: "3"

sugroup: {{ sugroup| default('wheel') }}


## PAM
pam_password:
  - minclass = 4
pam_passwd_retry: "3"
# faillock or tally2
accountlock: faillock

## note this is to skip tests
skip_pam_passwd_auth: true
skip_pam_system_auth: true

# choose one of below
pwhistory_so: "14"
unix_so: false
passwd_remember: "{{ pam_faillock.remember }}"

# logins.def password settings
pass_max_days: {{ pass.max_days }}
pass_min_days: {{ pass.min_days }}
pass_warn_age: {{ pass.warn_age }}
